apiVersion: v1
kind: Service
metadata:
  name: sqlserver
  namespace: backend-challenge
spec:
  type: NodePort
  selector:
    app: sqlserver
  ports:
    - name: tcp
      port: 1433
      targetPort: 1433
      nodePort: 31433

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: sqlserver
  namespace: backend-challenge
spec:
  serviceName: sqlserver
  replicas: 1
  selector:
    matchLabels:
      app: sqlserver
  template:
    metadata:
      labels:
        app: sqlserver
    spec:
      containers:
        - name: sqlserver
          image: mcr.microsoft.com/mssql/server:2022-latest
          ports:
            - containerPort: 1433
          env:
            - name: ACCEPT_EULA
              value: "Y"
            - name: MSSQL_SA_PASSWORD
              value: "YourStrong!Passw0rd"
          volumeMounts:
            - name: data
              mountPath: /var/opt/mssql
      volumes:
        - name: data
          emptyDir: {}

